* {
  border: solid black;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
}

#options_bar{
    height: 30%
}

.content_container {
  background-image: url('../assets/bg.jpg');
  background-size: cover;
}

.content_box {
  
  width: 300px;
  height: 350px;
  float: left;
  overflow: hidden;
}

.image_box{
    max-width: 70%;
    height: auto;
    max-height: 50%;
}



