* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

.wrapper {
  background: deepskyblue;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  align-content: space-between; }

.wrapper a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white; }

.wrapper a:nth-child(3) {
  flex: 1; }

.wrapper a:hover {
  background: #00b7f5; }

.wrapper form {
  align-self: center; }
  .wrapper form input {
    width: 200px; }

.title_bar {
  background-image: url("../../assets/header_bg.svg");
  background-repeat: no-repeat;
  background-position: center; }

.title_bar img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.content_container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  background-image: url("../../assets/bg.jpg");
  background-size: cover; }

.content_box {
  background-color: white;
  width: 300px;
  height: 500px;
  margin: 20px;
  overflow-y: hidden; }

.content_box:hover {
  border: solid deepskyblue; }

.image_box {
  display: block;
  max-width: 70%;
  height: auto;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto; }

.title_text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: bold;
  padding: 8px; }

.author_text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  color: gray;
  padding: 8px; }

p {
  display: block;
  margin: auto;
  padding: 8px; }
